<!Doctype html>
<html lang='pt-br'>
	<head>
 		<meta charset="utf-8">
		 <title>Feelings</title>
		 <link rel="stylesheet" href="/css/style.css">
		 <link rel="icon" href="img/logo.png">
	</head>
	<body class="home_fundo">

		<div class="fundo_login"><img class='img_navbar' src="img/logo_pequena.png"></div>

		<div class="home">

			<section class="menu">
				<div class='a_menu'><img src="img/pag_inicial.png"><a href="/">PÁGINA INICIAL</a></div>
				<div class='a_menu'><img src="img/perfil.png"><a href="/perfil">PERFIL</a></div>
				<div class='a_menu'><img src="img/sair.png"><a href="/logout">SAIR</a></div>
			</section>

			<div class="home_2">
				<section class="main">
					<div class="fundo_login pag_inicial"><h1>PERFIL</h1></div>
					<form action="/postar" method="post" enctype="multipart/form-data" class="form">
						<div>
							<input type="text" name="usuario_postagem" class="invisivel" value="<%= usuario[0]._id %>">
							<input class='input_main' type="text" name="texto_postagem" placeholder="No que você está pensando?" required>
							<input type="file" name="foto_postagem" accept="images/*" class="input_foto">
						</div>
						<input class='button_main' type="submit" value="Publicar">
					</form>
				</section>

				<section class="posts">
					<% if(postagens.length > 0) { %>
						<ul>
							<% for(var i=0; i<postagens.length; i++) { %>
								<li class="li">
									<div class="img_h2">
										<% if(usuario[0].foto_usuario) { %>
											<img src="<%= usuario[0].foto_usuario %>" class="foto_usuario">
										<% } else { %>
											<img src="/img/perfil.png" class="foto_usuario">
										<% } %>
										<h2><%= usuario[0].nome_usuario %></h2>
									
			                            <form action="/apagar_post" method="post" class="lixo">
			                                <input class="invisivel" name="id_postagem" value="<%= postagens[i]._id %>">
			                                <input src='img/lixeira.png' type="image">
			                            </form>
		                            </div>
									<p class="post"><%= postagens[i].texto_postagem %></p>
									<% if(postagens[i].foto_postagem) { %>
										<img src="<%= postagens[i].foto_postagem %>" class="foto_postagem">
									<% } %>
								</li>
							<% } %>
						</ul>
					<% } else { %>
						<ul>
							<li class="li">
								<p class="post">Nenhuma postagem registrada</p>
							</li>
						</ul>
					<% } %>
		        </section>
		    </div>
	        
	        <section class="user">
				<% if(usuario[0].foto_usuario) { %>
					<img src="<%= usuario[0].foto_usuario %>" class="foto">
				<% } else { %>
					<img src="/img/perfil.png" class="foto">
				<% } %>
				<h1><%= usuario[0].nome_usuario %></h1>
				<form action="/form_editar" method="post">
					<input class="invisivel" name="_id" value="<%= usuario[0]._id %>">
					<input class="editar" type="submit" value="EDITAR PERFIL">
				</form>
	        </section>
	    </div>
	</body>

	<script type="text/javascript" src="/js/main.js"></script>
</html>